body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
.board-row:after {
  clear: both;
  content: "";
  display: table;
}
  
.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}
  
.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
  

.reset {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50; /* Green */
  margin: 10px;
  width: 200px;
  height: 40px;
  font-size: 25px;
}

.new {
  color: blue;
}

.win {
  background-color: yellow;
  color : red
}


.selected {
  background: blue;
  color: white;
  font-size: 120%
}